<!DOCTYPE html>
<html>
<body>

<h1>Help Page</h1>
<p>
<h2>Activate Alarm</h2>
Login to activate or upon closing time the alarm will automatically activate.<br>

<h2>Deactivate Alarm</h2>
At any time, login to deactivate or use the bluetooth key.<br>
During closed hours, the alarm will stay deactivated only if the bluetooth key is on and in range.  Otherwise, the alarm will automatically reactivate itself.<br>
During open hours, once the alarm is deactivated it will stay deactivated.  (Regardless of the presence of a bluetooth key.)<br>

<h2>View Status</h2>
The alarm status can be viewed at:<br>
Access from local (BEAR) WiFi:	10.1.10.149:5000<br>
Access from Remote:							96.86.182.158:5000<br>
</p>

</body>
</html>
